/* *** COMMONS *** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

body{
    text-align: center;
    background-color: powderblue;
}

#img-box{
    width: 600px;
    height: 350px;
    background-color: orange;
    margin: 50px auto 0;
}
img{
    width: 100%;
}


/* *** HEADER *** */

/* *** MAIN *** */

/* *** FOOTER *** */

/* *** DEBUG *** */

